<div class="card-body">
    <form action="#">
        <div class="form-body">
            <h3 class="card-title">Crear Mesa</h3>
            <hr>
            <div class="row p-t-20">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Numero de la mesa</label>
                        <input type="number" id="firstName" class="form-control" placeholder="69">
                        <small class="form-control-feedback"> This is inline help </small> </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="control-label">Capacidad</label>
                        <input type="number" id="lastName" class="form-control form-control-danger" placeholder="12">
                        <small class="form-control-feedback"> This field has error. </small> </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label class="control-label">Tipo Usuario</label>
                        <select class="form-control custom-select">
                            <option value="">Disponible</option>
                            <option value="">Ocupada</option>
                        </select>
                        <small class="form-control-feedback"> Selecciona un sexo </small> </div>
                </div>
                
            </div>
            <!--/row-->
           
            <!--/row-->
           
            
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>&nbsp;
            <button type="button" class="btn btn-inverse">Cancel</button>
        </div>
    </form>
</div>