<div class="card-body">
    <form action="#">
        <div class="form-body">
            <h3 class="card-title">Menu</h3>
            <hr>
            <div class="row p-t-20">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Nombre Plato</label>
                        <input type="text" id="firstName" class="form-control" placeholder="John doe">
                        <small class="form-control-feedback"> This is inline help </small> </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="control-label">Precio</label>
                        <input type="text" id="lastName" class="form-control form-control-danger" placeholder="12n">
                        <small class="form-control-feedback"> This field has error. </small> </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Fecha de Vencimiento </label>
                        <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cantidad</label>
                        <input type="number" id="firstName" class="form-control" placeholder="">
                        <small class="form-control-feedback"> Numero de Productos </small> </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tiempo </label>
                        <input type="text" id="firstName" class="form-control" placeholder="">
                        <small class="form-control-feedback"> Tiempo Aproximado </small> </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Descripcion</label>
                        <div class="form-group m-b-5">
                            <textarea class="form-control" rows="4" id="input7"></textarea>
                            <span class="bar"></span>
                            
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Categoria</label>
                        <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                            <option value="Category 1">Category 1</option>
                            <option value="Category 2">Category 2</option>
                            <option value="Category 3">Category 5</option>
                            <option value="Category 4">Category 4</option>
                        </select>
                    </div>
                    
                </div>

                
                
            </div>
            <div class="card-body">
                <h4 class="card-title">Imagen</h4>
                <label for="input-file-now">agrede su imagen</label>
                <div class="dropify-wrapper"><div class="dropify-message"><span class="file-icon"></span> <p>Arrastre y suelte un archivo aquí o haga clic</p><p class="dropify-error">
                    Ooops, algo mal agregado.</p></div><div class="dropify-loader" style="display: none;"></div><div class="dropify-errors-container"><ul></ul></div><input type="file" id="input-file-now" class="dropify"><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview" style="display: none;"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner">restorant.jpg</span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
            </div>
            <!--/row-->
        
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>&nbsp;
            <button type="button" class="btn btn-inverse">Cancel</button>
        </div>
    </form>
</div>
